@font-face {
    font-family: 'CustomFont';
    src: url('../FONT/Italianno-Regular.ttf');
  }
  
@font-face {
    font-family: 'Jacques Francois';
    src: url(../FONT/JacquesFrancois-Regular.ttf);
}
h1 {
    font-family: 'CustomFont';
}
body {
    margin: 0px;
    font-family: Arial;
    background-color: #756763;
}
.container {
    position: relative;
    width: 100vw;
    background-image: url(../IMAGE/home.png);
<<<<<<< HEAD
    background-position: 0 -50px;
=======
    background-position: 0 -300px;
>>>>>>> 5b1bec9e6dd01e66cdd0d9a2dcc9eecc2ee03ec4
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    color: #FFFFFF;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
.header {
    top: 0px;
    left: 0;
    right: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
<<<<<<< HEAD
    border: 1px solid #FFFFFF;
=======
    border-bottom: 1px solid #FFFFFF;
    backdrop-filter: brightness(40%);
    z-index: 9;
}
h1 {
    font-weight: 100;
}
.header h1 {
    font-size: 45px;
    margin: 20px;
>>>>>>> 5b1bec9e6dd01e66cdd0d9a2dcc9eecc2ee03ec4
}
.brand {
    padding-left: 40px;
}
.menu {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr) auto;
    grid-gap: 20px;
}
.menu a {
    text-decoration: none;
    color: #FFFFFF;
    max-width: 50px;
    padding: 10px 20px;
    text-align: center;
}

.about-chose {
    box-sizing: border-box;
    width: 120px;
    text-align: center;
    padding: 10px 0px;
    cursor: context-menu;
    background: none;
    margin: auto;
}

.about-content {
    display: none;
    position: absolute;
    text-align: center;
    border-radius: 8px;
<<<<<<< HEAD
=======
    z-index: 10;
>>>>>>> 5b1bec9e6dd01e66cdd0d9a2dcc9eecc2ee03ec4
}

.about-content a {
    max-width: none;
    padding: 10px 20px;
    color: #FFFFFF;
    background-color: #AE6439;
    display: block;
    border: 1px solid #FFFFFF;
}
.about-content a:first-child {
    border-radius: 8px 8px 0px 0px;
}
.about-content a:last-child {
    border-radius: 0px 0px 8px 8px;
}

.about:hover .about-content {
    display: block;
}
.about-content:hover {
    display: block;
}
.chose {
    border-bottom: 2px solid #FFFFFF;
}
.head-left {
    margin: auto;
    display: grid;
    grid-template-columns: repeat( 3,auto);
    grid-gap: 20px;
}
.head-left a {
    max-width: 20px;
    padding: 10px;
}
.sign-in {
    margin: auto;
    margin-right: 40px;
    padding: 10px 20px;
    border-radius: 16px;
    cursor: pointer;
<<<<<<< HEAD
    background-color: #000000;
    border: 2px solid #FFFFFF;
}
.button-link {
    color: #FFFFFF;
    text-decoration: none;
}
.follow {
    margin: auto;
}
.follow div {
    display: grid;
    padding: 10px;
=======
    background-color: #AE6439;
    border: 2px solid #FFFFFF;
}
.main {
    backdrop-filter: brightness(50%);    
    padding: 80px;
    font-size: 20px;
}
.main h1 {
    font-family: 'Jacques Francois';
}
.head-main {
    display: grid;
    width: 450px;
    color: #AE6439;
    grid-template-columns: 1fr auto 1fr;
    grid-gap: 10px;
}
.head-main p {
    margin: auto;
}
.main button {
    width: 120px;
    margin: 20px;
    padding: 10px 20px;
    border: 1px solid #FFFFFF;
    border-radius: 16px;
    color: #FFFFFF;
    background-color: #AE6439;
}
.button-link {
    color: #FFFFFF;
    text-decoration: none;
    margin: auto;
}
.bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: 1px solid #FFFFFF;
    padding: 20px;
    backdrop-filter: brightness(40%);
}

.follow {
    margin: auto;
    display: grid;
    grid-gap: 10px;
}
.follow div {
    display: grid;
>>>>>>> 5b1bec9e6dd01e66cdd0d9a2dcc9eecc2ee03ec4
    grid-template-columns: auto 1fr;
    grid-gap: 5px;
}
.contact {
    margin: auto;
}
.logo {
    width: 20px;
    margin: auto;
}