@font-face {
    font-family: 'CustomFont'; /* Name your font family */
    src: url('../FONT/Italianno-Regular.ttf'); /* Locate the .ttf file within your directory*/
  }
  
h1 {
    font-family: 'CustomFont', sans-serif; /* Use the font family */
}
body {
    background-color: black;
    margin: 0px;
}
.container {
    width: 100vw;
    height: 100vh;
    background-color: #FFFFFF;
    color: #000000;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
.header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 1px solid #000000;
}
.brand {
    padding-left: 40px;
}
.menu {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr) auto;
    grid-gap: 20px;
}
.menu a {
    text-decoration: none;
    color: #000000;
    max-width: 50px;
    padding: 10px 20px;
    text-align: center;
}

.about-chose {
    box-sizing: border-box;
    width: 120px;
    text-align: center;
    padding: 10px 0px;
    cursor: context-menu;
    background: none;
    margin: auto;
}

.about-content {
    display: none;
    position: absolute;
    text-align: center;
    border-radius: 8px;
}

.about-content a {
    max-width: none;
    padding: 10px 20px;
    color: #FFFFFF;
    background-color: #AE6439;
    display: block;
    border: 1px solid #FFFFFF;
}
.about-content a:first-child {
    border-radius: 8px 8px 0px 0px;
}
.about-content a:last-child {
    border-radius: 0px 0px 8px 8px;
}

.about:hover .about-content {
    display: block;
}
.about-content:hover {
    display: block;
}
.chose {
    border-bottom: 2px solid #000000;
}
.head-left {
    margin: auto;
    display: grid;
    grid-template-columns: repeat( 3,auto);
    grid-gap: 20px;
}
.head-left a {
    max-width: 20px;
    padding: 10px;
}
.sign-in {
    margin: auto;
    margin-right: 40px;
    padding: 10px 20px;
    border-radius: 16px;
    background-color: #AE6439;
    border: 2px solid #D9D9D9;
}
.main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.locations {
    padding: 20px;
}
.location {
    background-color: #D9D9D9;
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 20px;
    grid-gap: 20px;
}
.where {
    height: 100px;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
.where p {
    margin: auto;
    margin-left: 0;
}
.order {
    margin: auto;
    padding: 10px 20px;
    border-radius: 16px;
    background-color: #AE6439;
    border: none;
    color: #FFFFFF;
}
.button-link {
    color: #FFFFFF;
    text-decoration: none;
}
.map {
    width: 100%;
    height: 100%;
}
.bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid #000000;
}
.follow {
    margin: auto;
}
.follow div {
    display: grid;
    padding: 10px;
    grid-template-columns: auto 1fr;
    grid-gap: 5px;
}
.contact {
    margin: auto;
}
.logo {
    width: 20px;
    margin: auto;
    filter: brightness(0);
}