@font-face {
    font-family: 'CustomFont';
    src: url('../FONT/Italianno-Regular.ttf');
  }
  
h1 {
    font-family: 'CustomFont';
}
body {
    background-color: #756763;
    font-family: Arial;
    margin: 0;
}
.container {
    width: 100vw;
    background-image: url(../IMAGE/home.png);
    background-position: 0 -300px;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    color: #FFFFFF;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
}
.header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-bottom: 1px solid #FFFFFF;
    backdrop-filter: brightness(40%);
}
h1 {
    font-weight: 100;
}
.header h1 {
    font-size: 45px;
    margin: 20px;
}
.menu {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr) auto;
    grid-gap: 20px;
}

.menu a {
    text-decoration: none;
    color: #FFFFFF;
    max-width: 50px;
    padding: 10px 20px;
    text-align: center;
}

.about-chose {
    box-sizing: border-box;
    width: 120px;
    text-align: center;
    padding: 10px 0px;
    cursor: context-menu;
    background: none;
    margin: auto;
}

.about-content {
    display: none;
    position: absolute;
    text-align: center;
    border-radius: 8px;
}

.about-content a {
    max-width: none;
    padding: 10px 20px;
    color: #FFFFFF;
    background-color: #AE6439;
    display: block;
    border: 1px solid #FFFFFF;
}
.about-content a:first-child {
    border-radius: 8px 8px 0px 0px;
}
.about-content a:last-child {
    border-radius: 0px 0px 8px 8px;
}

.about:hover .about-content {
    display: block;
}
.about-content:hover {
    display: block;
}
.chose {
    border-bottom: 2px solid #FFFFFF;
}
.head-left {
    margin: auto;
    display: grid;
    grid-template-columns: repeat( 3,auto);
    grid-gap: 20px;
}
.head-left a {
    max-width: 20px;
    padding: 10px;
}
.sign-in {
    margin: auto;
    margin-right: 40px;
    padding: 10px 20px;
    border-radius: 16px;
    cursor: pointer;
    background-color: #000000;
    border: 2px solid #FFFFFF;
}
.button-link {
    color: #FFFFFF;
    text-decoration: none;
}
.bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid #FFFFFF;
}
.head {
    position: relative;
    width: 100%;
    padding: 40px;
    box-sizing: border-box;
    backdrop-filter: brightness(50%);
}
.promotion {
    width: 100%;
    filter: brightness(0.7);
    height: auto;
}
.text-overlay {
    padding: 20px;
    position: absolute;
    top: 5%;
    left: 5%;
    color: white;
    font-size: 38px;
    font-weight: bold;
}
.brand {
    padding-left: 40px;
}

.main {
    padding: 20px 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    backdrop-filter: brightness(50%);
}
.cart {
    margin: auto;
    border-radius: 16px;
    display: grid;
    grid-template-rows: 1fr auto auto auto;
    padding: 20px;
    grid-gap: 10px;
    background-color: #FEFEFE;
}
.contain-product {
    margin: auto;
    width: 100%;
    border-radius: 16px;
    height: 300px;
    overflow: hidden;
    position: relative;
}
.product {
    height: 100%;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.cart p {
    margin: auto;
    font-weight: bold;
    text-align: center;
    color: #000;
}
.order {
    margin: auto;
    padding: 10px 20px;
    border-radius: 16px;
    background-color: #AE6439;
    border: none;
    color: #FFFFFF;
}
.bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: 1px solid #FFFFFF;
    backdrop-filter: brightness(40%);
}
.follow {
    margin: auto;
}
.follow div {
    display: grid;
    padding: 10px;
    grid-template-columns: auto 1fr;
    grid-gap: 5px;
}
.contact {
    margin: auto;
}
.logo {
    width: 20px;
    margin: auto;
}