@font-face {
    font-family: 'Italianno'; /* Name your font family */
    src: url('../FONT/Italianno-Regular.ttf'); /* Locate the .ttf file within your directory*/
  }
  @font-face {
    font-family: 'Jacques Francois';
    src: url(../FONT/JacquesFrancois-Regular.ttf);
}
@keyframes slideinleft {
    from{
        transform: translateX(-300px);
    }
    to{
        transform: translateX(0);
    }
}
@keyframes slideIn {
    from {
        transform: translateY(-100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
.font-Jacques-Francois {
    font-family:'Jacques Francois' ;
}
.font-Italianno{
    font-family: 'Italianno';
    color: #AE6439;
    font-size: 40px;
}
h1 {
    font-family: 'CustomFont', sans-serif; /* Use the font family */
}
body {
    background-color: black;
    margin: 0px;
    animation: slideinleft 0.3s ease-in;
}
.container {
    width: 100vw;
    background-image: url(../IMAGE/home.png);
    background-position: 0 -300px;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    color: #FFFFFF;
}
.header {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-bottom: 1px solid #FFFFFF;
    backdrop-filter: brightness(40%);
    z-index: 9;
    animation: slideIn 0.6s ease-out;
}
h1 {
    font-weight: 100;
}
.header h1 {
    font-size: 45px;
    margin: 20px;
}
.brand {
    padding-left: 40px;
    font-family: 'Italianno';
    color: white;
    font-size: 40px;

}
.menu {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr) auto;
    grid-gap: 20px;
}
.menu a {
    text-decoration: none;
    color: #FFFFFF;
    max-width: 50px;
    padding: 10px 20px;
    text-align: center;
    transition: transform 0.3s ease, color 0.3s ease;
}

.about-chose {
    box-sizing: border-box;
    width: 120px;
    text-align: center;
    padding: 10px 0px;
    cursor: context-menu;
    background: none;
    margin: auto;
}

.about-content {
    display: block;
    position: absolute;
    text-align: center;
    border-radius: 8px;
    z-index: 10;
    transform: translateY(10px); /* Start slightly below */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Add animation for smooth fade and move */
    opacity: 0;
}
.about-content a {
    max-width: none;
    padding: 10px 20px;
    color: #FFFFFF;
    background-color: #AE6439;
    display: block;
    border: 1px solid #FFFFFF;
}
.about:hover .about-content {
    opacity: 1; /* Make it fully visible */
    transform: translateY(0); /* Move it to its final position */
}
.about-content a:first-child {
    border-radius: 8px 8px 0px 0px;
}
.about-content a:last-child {
    border-radius: 0px 0px 8px 8px;
}

.about:hover .about-content {
    display: block;
}
.about-content:hover {
    display: block;
}
.chose {
    border-bottom: 2px solid #FFFFFF;
}
.head-left {
    margin: auto;
    display: grid;
    grid-template-columns: repeat( 3,auto);
    grid-gap: 20px;
}
.head-left a {
    max-width: 20px;
    padding: 10px;
}
.sign-in {
    margin: auto;
    margin-right: 40px;
    padding: 10px 20px;
    border-radius: 16px;
    cursor: pointer;
    background-color: #000000;
    border: 2px solid #FFFFFF;
    transition: transform 0.3s ease, background-color 0.3s ease;
}
.button-link {
    color: #FFFFFF;
    text-decoration: none;
    
}
.main {
    display: grid;
    grid-template-rows: 350px auto;
    padding: 20px 80px;
    grid-gap: 20px;
    color: #000000;
    text-align: center;
    backdrop-filter: brightness(60%);
}
.above-main {
    display: grid;
    grid-gap: 18px;
    grid-template-columns: 270px 1fr 270px;
}
.above-main div, .below-main div {
    background-color: white;
    border-radius: 8px;
    padding: 15px;
}
.below-main {
    display: grid;
    grid-gap: 18px;
    grid-template-columns: repeat(3,430px);
}
.below-main div {
    padding: auto;
}
.below-main div:nth-child(2) {
    padding: 0px;
}
.below-main div:nth-child(2) img {
    border-radius: 8px 8px 0px 0px;
}
.image {
    width: 100%;
    object-fit: contain;
    margin: auto;
}
.bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: 1px solid #FFFFFF;
    padding: 20px;
    backdrop-filter: brightness(40%);
}

.follow {
    margin: auto;
    display: grid;
    grid-gap: 10px;
}
.follow div {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 5px;
}
.contact {
    margin: auto;
}
.logo {
    width: 20px;
    margin: auto;
}
.sign-in:hover {
    transform: scale(1.1); /* Slightly scale the button */
    background-color: #9c4f2d; /* Darker shade for the hover effect */
}
.menu a:hover {
    transform: scale(1.2); /* Slightly scale the menu item */
    color: white;
}
.taste-slider {
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    max-width: 100%;
    width: 90%;
    height: 130px; /* Adjust based on your image size */
    object-fit: contain;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out; /* Ensure this is 100% * the number of images */
}

.slider img {
    width: 100%;
    object-fit: contain;
    transition: transform 0.3s ease-in-out;
}

button.prev, button.next {
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    z-index: 9;
}

button.prev, button.next {
   margin-left: 12px;
   margin-top: 20px;
}

button.prev:hover, button.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.taste-slider {
    display: flex;
    transition: transform 0.5s ease-in-out; /* Smooth transition for the sliding effect */
}

.image2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 35px;
    margin-bottom: 15px;
}
.image3{
    margin-left: 28px;
    margin-bottom: 15px;
}



/* For desktops */
@media (min-width: 1200px) {
    body {
        font-size: 18px;
    }
}
/* For tablets */
@media (min-width: 768px) and (max-width: 1199px) {
    .header {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 20px 40px;
    }
    .header h1 {
        font-size: 45px;
        margin: auto 0;
    }
    .menu {
        display: grid;
        grid-template-columns: repeat(3, auto) auto;
        gap: 20px;
    }
    .menu a {
        font-size: 18px;
        padding: 10px 20px;
    }
    .main {
        display: grid;
        grid-template-rows: auto auto;
        gap: 15px;
        padding: 30px;
    }
    .above-main {
        grid-template-columns: 270px 1fr 270px;
        gap: 15px;
    }
    .below-main {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 15px;
    }
    .bottom {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 20px 40px;
    }
    .follow {
        font-size: 16px;
    }
    .contact {
        font-size: 16px;
    }
    .main p {
        font-size: 18px;
    }
    .main h1{
        font-size: 40px;
    }
    .image2{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 40px;
    }
    .image3{
        margin-left: 35px;
    }
    .image1{
        height: 200px;
    }
}



/* For smartphones */
@media (max-width: 767px) {
    .header {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        padding: 20px;
    }
    .header h1 {
        padding: 0px;
        margin: auto;
        font-size: 65px;
    }
    .menu {
        margin: auto;
        font-size: 16px;
    }
    .main {
        padding: 40px;
        height: auto;
        grid-template-rows: auto auto;
    }
    .above-main {
        grid-template-columns: 1fr;
        height: auto;
    }
    .below-main {
        grid-template-columns: 1fr;
        height: auto;
    }
    
    #origin {
        padding: auto;
        display: grid;
        grid-template-rows: 1fr auto;
    }
    .main h1 {
        font-size: 28px;
    }
    .main p {
        font-size: 16px;
    }
    .bottom {
        font-size: 14px;
    }
    .follow div {
        margin: auto;
        margin-left: 0;
    }
}